@import 'src/variables';

.slider {
  flex-grow: 10;
  padding: 0;
  margin-left: 8px;
  height: 28px;
  position: relative;
  top: -3px;

  ::ng-deep .mat-slider-wrapper {
    top: 17px;
  }
}

.input.short {
  width: 50px;
}
