@import 'src/variables';

:host {
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
}

.pages {
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 800px;
}

.section {
  margin: 16px 8px;
}

.return {
  display: flex;
  justify-content: space-between;
}


