<div class="pages">
  <mat-card class="section">
    <mat-card-title>What is FIS-Designer?</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <p>
        FIS-Designer is a hobby project aiming to help design dashboards for the fantastic
        <a href="https://fis-control.de/fis_control_mmi_en.html" target="_blank">FIS-Control MMI</a>
        device.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="section">
    <mat-card-title>How to use</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <p>Left hand side - current config:</p>
      <ul>
        <li>These values represent the FIS-Control config 1:1.</li>
      </ul>

      <p>Right hand side - visual preview of your configuration and two toolbars:</p>
      <ul>
        <li>Lower toolbar allows you to test the design dynamically.</li>
        <li>Upper toolbar:</li>
        <ul>
          <li>Opens the image manager.</li>
          <li>Allows loading and saving of the designs.</li>
        </ul>
      </ul>

    </mat-card-content>
  </mat-card>

  <mat-card class="section">
    <mat-card-title>More help</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <ul>
        <li>Look at the tooltips that appear when you hover over some elements, they contain
          important information.
        </li>
        <li>For more detailed explanation of the values please consult <a
          href="https://fis-control.de/fis_control_mmi_en.html" target="_blank">the official
          FIS-Control manual</a>.
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="section">
    <mat-card-title>Legal stuff</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <ul>
        <li>Copyright © 2021-2022 Paweł Szydło.</li>
        <li>This site does not use cookies. Cookie-less Google Analytics is used to count page views
          only.
        </li>
        <li>The author of the FIS-Designer tool is in no way affiliated with the creators of the
          FIS-Control device.
        </li>
        <li>
          The author of the FIS-Designer tool takes no responsibility for any damage that might
          occur
          to the FIS-Control device by using the configuration provided by the FIS-Designer tool.
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <div class="section mat-card return">
    <a routerLink="/workspace">&larr; Back to the designer</a>
    <span class="version">Version: {{ version }}</span>
  </div>
</div>
