@import 'src/variables';

:host {
  margin-bottom: 4px;

  &.wide {
    .single-input {
      flex-grow: 1;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;

  &.right-label {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .label {
    &:not(.right-label) {
      margin-right: 16px;
    }

    &.right-label {
      margin-left: 16px;
    }
  }
}
