<div class="recalculate-button">
  <button mat-icon-button color="primary" [disabled]="!resizeEnabled" (click)="recalculateSize()">
    <mat-icon
      [tooltip]="
        resizeEnabled
          ? 'Set digits dimensions to match loaded images.'
          : 'Not all digit images loaded yet.'
      "
    >
      aspect_ratio
    </mat-icon>
  </button>
</div>

<app-toggle-input
  *ngIf="SETUP_FIELDS_METADATA['useBuiltInNumericalGauges']; let metaData"
  [label]="metaData.label ?? ''"
  [hint]="metaData.hint ?? ''"
  (valueChanged)="valueChanged($event, 'useBuiltInNumericalGauges')"
  [value]="getBooleanValue('useBuiltInNumericalGauges')"
></app-toggle-input>

<ng-container *ngFor="let fieldName of allFields">
  <ng-container *ngIf="numericalFields.has(fieldName)">
    <app-sliding-input
      *ngIf="SETUP_FIELDS_METADATA[fieldName]; let metaData"
      [metaData]="metaData"
      (valueChanged)="valueChanged($event, fieldName)"
      [value]="getNumericalValue(fieldName)"
    ></app-sliding-input>
  </ng-container>

  <ng-container *ngIf="colorFields.has(fieldName)">
    <app-color-input
      *ngIf="SETUP_FIELDS_METADATA[fieldName]; let metaData"
      [label]="metaData.label ?? ''"
      [hint]="metaData.hint ?? ''"
      (valueChanged)="valueChanged($event, fieldName)"
      [value]="getStringValue(fieldName)"
    ></app-color-input>
  </ng-container>
</ng-container>
