<div class="field-wrapper">
  <div class="label" [tooltip]="metaData?.help ?? ''">
    {{ metaData?.label }}
    <mat-icon *ngIf="metaData?.help" class="hint-icon">help_outline</mat-icon>
  </div>
  <div class="input-wrapper">
    <!-- Color and string -->
    <input *ngIf="type === 'color' || type === 'text'" class="input" [type]="type" [value]="value"
           [attr.maxlength]="metaData?.max || null" (change)="onChangeField($event)"/>
    <!-- Select -->
    <mat-select *ngIf="type === 'select'" class="input" ngModel
                (ngModelChange)="changeValue($event)"
                [ngModel]="value" [disableOptionCentering]="true">
      <mat-option *ngIf="realOptions.length > 8">
        <ngx-mat-select-search placeholderLabel="Search"
                               noEntriesFoundLabel="'No matches'" ngModel
                               (ngModelChange)="filterOptions($event)"
                               [enableClearOnEscapePressed]="true"
        ></ngx-mat-select-search>
      </mat-option>
      <mat-option
        *ngFor="let option of filteredOptions; trackBy: optionTrackBy"
        [value]="option[0]"
      >{{option[1]}}</mat-option>
    </mat-select>
  </div>
</div>



