<div class="field-wrapper">
  <div class="label" [tooltip]="metaData?.help ?? ''">
    {{ metaData?.label }}
    <mat-icon *ngIf="metaData?.help" class="hint-icon">help_outline</mat-icon>
  </div>
  <div class="input-wrapper">
    <!-- Color and string -->
    <input *ngIf="type === 'color' || type === 'text'" class="input" [type]="type" [value]="value"
           [attr.maxlength]="metaData?.max || null" (change)="onChangeField($event)"/>
    <!-- Select -->
    <mat-select *ngIf="type === 'select'" class="input" (change)="onChangeField($event)"
            [value]="value">
      <mat-option
        *ngFor="let option of (options?.entries() || metaData?.options?.entries()); trackBy: optionTrackBy"
        [value]="option[0]"
      >{{option[1]}}</mat-option>
    </mat-select>
  </div>
</div>



