@import 'src/variables';

:host {
  display: flex;
}

.copyright {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: $grey-border;
  user-select: none;
  z-index: -1;
}

.preview {
  margin: auto;
  width: 1000px;
}
