@import 'src/variables';

:host {
  width: 100%;
  height: 100%;
  display: flex;
}

.copyright {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: $grey-border;
  user-select: none;
  z-index: -1;
}

.preview {
  margin: auto;
}

@media (max-width: $mobile-width-breakpoint) {
  .copyright {
    display: none;
  }

  .preview {
    height: 100%;
    overflow: hidden;

    app-gauges {
      height: 100%;
    }
  }
}
