@import 'src/variables';

:host {
  width: 290px;
  box-sizing: border-box;
  padding: 8px 16px 8px 8px;
  margin: 8px;
  border: solid 1px $grey-border;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.preview {
  background-color: $grey-border;
  border: solid 1px $grey-border;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.label {
  margin: 0 16px;
  flex-grow: 4;
}

.restriction {
  font-size: 80%;
  margin-top: 4px;
  opacity: 0.6;
}
