@import 'src/variables';

:host {
  width: 100%;
  height: calc(100% - #{$top-bar-height});
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch; // Cross-axis.
  min-width: $mobile-min-width;
}

.sidebar {
  background-color: $background-dialog;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 1;
  resize: horizontal;
  box-sizing: border-box;
  position: relative;
  width: 480px;
  min-width: $sidebar-desktop-min-width;
  max-width: 100%;

  .resize-handle {
    position: absolute;
    right: -8px;
    width: 8px;
    height: 100%;
    background: $background;
    cursor: col-resize;

    &:hover {
      background: $grey-border;
    }
  }
}

app-preview {
  flex: 1;
}

@media (max-width: $mobile-width-breakpoint) {
  :host {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: calc(100% - #{$top-bar-mobile});
  }

  .sidebar {
    height: auto;
    max-height: 100%;
    min-height: 0;
    width: 100%;
    max-width: 100%;
    min-width: 200px;
    flex: 1;

    .resize-handle {
      display: none;
    }
  }

  app-preview {
    flex: 0;
  }
}
