@import 'src/variables';

.button-bar {
  display: flex;
  justify-content: flex-start;
  padding: 8px;

  button:not(:last-child) {
    margin-right: 8px;
  }
}

.settings-form {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;

  .settings-element:not(:first-child) {
    border-top: solid 1px $grey-border;
  }
}

.table-tabs {
  ::ng-deep {
    div.mat-tab-labels {
      div.mat-tab-label {
        flex-grow: 1;
        min-width: 60px;
        user-select: none;
      }
    }
  }
}

