@import 'src/variables';

:host {
  min-width: $sidebar-desktop-min-width;
}

.top-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 0;
}

.top-bar {
  height: $top-bar-height;
  display: flex;
  justify-content: space-between;

  a {
    all: unset;
    cursor: pointer;
  }

  .title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: $top-bar-height;
  }

  .right-side {
    mat-icon {
      position: relative;
      top: -1px;
    }
  }
}
