@import 'src/variables';

:host {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.row-wrapper {
  margin-top: 8px;
  padding-top: 8px;
  border-top: solid 1px $grey-border;
}

app-sliding-input:not(.wide) {
    width: 90px;
}
