<h4 class="group-label">{{ label }}</h4>

<app-simple-input *ngIf="TABLE_FIELD_METADATA['controlUnitId']; let metaData"
                  type="select"
                  [metaData]="metaData"
                  [value]="tableConfig!.controlUnitId"
                  [options]="controlUnitOptions"
                  (numberChanged)="tableValueChanged($event, 'controlUnitId')"
>
</app-simple-input>
<div class="row-wrapper" *ngFor="let row of tableConfig!.rows; let i = index; trackBy: rowTrackBy">
  <h4 class="group-label">Row {{ i + 1 }}</h4>
  <app-simple-input *ngIf="TABLE_ROW_FIELD_METADATA['measurementId']; let metaData"
                    type="select"
                    [metaData]="metaData"
                    [value]="row.measurementId"
                    [options]="controlUnits.get(tableConfig!.controlUnitId)!.values"
                    (numberChanged)="rowValueChanged(i, $event, 'measurementId')"
  >
  </app-simple-input>
  <div class="input-group">
    <app-simple-input
      class="wide label-input"
      *ngIf="TABLE_ROW_FIELD_METADATA['label']; let metaData"
      [metaData]="metaData"
      [value]="row.label"
      (stringChanged)="rowValueChanged(i, $event, 'label')"
    ></app-simple-input>
    <app-simple-input
      *ngIf="TABLE_ROW_FIELD_METADATA['unit']; let metaData"
      [metaData]="metaData"
      [value]="row.unit"
      (stringChanged)="rowValueChanged(i, $event, 'unit')"
    ></app-simple-input>
    <app-simple-input *ngIf="TABLE_ROW_FIELD_METADATA['factor']; let metaData"
                      type="select"
                      [metaData]="metaData"
                      [value]="row.factor"
                      (numberChanged)="rowValueChanged(i, $event, 'factor')"
    >
    </app-simple-input>
    <app-simple-input *ngIf="TABLE_ROW_FIELD_METADATA['calculationId']; let metaData"
                      type="select"
                      [metaData]="metaData"
                      [value]="row.calculationId"
                      (numberChanged)="rowValueChanged(i, $event, 'calculationId')"
    >
    </app-simple-input>
    <app-sliding-input
      *ngIf="TABLE_ROW_FIELD_METADATA['lowerWarning']; let metaData"
      [metaData]="metaData"
      [value]="row.lowerWarning"
      (valueChanged)="rowValueChanged(i, $event, 'lowerWarning')"
    ></app-sliding-input>
    <app-sliding-input
      *ngIf="TABLE_ROW_FIELD_METADATA['upperWarning']; let metaData"
      [metaData]="metaData"
      [value]="row.upperWarning"
      (valueChanged)="rowValueChanged(i, $event, 'upperWarning')"
    ></app-sliding-input>
    <app-sliding-input
      *ngIf="TABLE_ROW_FIELD_METADATA['decimalPlaces']; let metaData"
      [metaData]="metaData"
      [value]="row.decimalPlaces"
      (valueChanged)="rowValueChanged(i, $event, 'decimalPlaces')"
    ></app-sliding-input>
  </div>
</div>
