<h4 class="group-label">{{ label }}</h4>

<app-select-input *ngIf="TABLE_FIELD_METADATA['controlUnitId']; let metaData"
                  class="wide"
                  [label]="metaData.label"
                  [help]="metaData.help"
                  [value]="tableConfig!.controlUnitId"
>
</app-select-input>
<div class="row-wrapper" *ngFor="let row of tableConfig!.rows; let i = index">
  <app-select-input *ngIf="TABLE_ROW_FIELD_METADATA['measurementId']; let metaData"
                    class="wide"
                    [label]="metaData.label! + ' ' + (i + 1)"
                    [help]="metaData.help"
                    [value]="row.measurementId"
  >
  </app-select-input>
  <div class="fields">
    <app-string-input
      class="wide label-input"
      *ngIf="TABLE_ROW_FIELD_METADATA['label']; let metaData"
      [label]="metaData.label"
      [help]="metaData.help"
      [maxLength]="metaData.max"
      [value]="row.label"
    ></app-string-input>
    <app-string-input
      *ngIf="TABLE_ROW_FIELD_METADATA['unit']; let metaData"
      [label]="metaData.label"
      [help]="metaData.help"
      [maxLength]="metaData.max"
      [value]="row.unit"
    ></app-string-input>

  </div>
  <div class="fields">
    <app-select-input *ngIf="TABLE_ROW_FIELD_METADATA['factor']; let metaData"
                      class="wide"
                      [label]="metaData.label"
                      [help]="metaData.help"
                      [options]="metaData.options"
                      [value]="row.factor"
    >
    </app-select-input>
    <app-select-input *ngIf="TABLE_ROW_FIELD_METADATA['calculationId']; let metaData"
                      class="wide"
                      [label]="metaData.label"
                      [help]="metaData.help"
                      [options]="metaData.options"
                      [value]="row.calculationId"
    >
    </app-select-input>
    <app-sliding-input
      *ngIf="TABLE_ROW_FIELD_METADATA['lowerWarning']; let metaData"
      [metaData]="metaData"
      [value]="row.lowerWarning"
    ></app-sliding-input>
    <app-sliding-input
      *ngIf="TABLE_ROW_FIELD_METADATA['upperWarning']; let metaData"
      [metaData]="metaData"
      [value]="row.upperWarning"
    ></app-sliding-input>
    <app-sliding-input
      *ngIf="TABLE_ROW_FIELD_METADATA['decimalPlaces']; let metaData"
      [metaData]="metaData"
      [value]="row.decimalPlaces"
    ></app-sliding-input>
  </div>
</div>
