@import 'src/variables';

:host {
  margin-bottom: 4px;

  &.wide {
    .single-input {
      flex-grow: 1;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;

  &.right-label {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.label {
  &:not(.right-label) {
    margin-right: 16px;
  }

  &.right-label {
    margin-left: 16px;
  }
}

mat-slider {
  flex-grow: 4;
  padding: 0;
  height: 32px;
  margin-right: 16px;

  ::ng-deep .mat-slider-wrapper {
    top: 17px;
  }
}

.single-input.short {
  width: 60px;
}
