@import 'src/variables';

:host {
  display: flex;
  align-content: center;
  margin-bottom: 4px;
}

mat-slider {
  flex-grow: 4;
  padding: 0;
  height: 32px;
  margin-right: 16px;

  ::ng-deep .mat-slider-wrapper {
    top: 17px;
  }
}

.wide {
  width: 70px;
}

.label {
  color: $light-grey-item;
  width: 120px;
  line-height: 36px;
  margin-right: 16px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;

  mat-icon {
    position: relative;
    top: 10px;
    font-size: 120%;
    opacity: 0.7;
  }
}
