<div
  [ngStyle]="style"
  class="resizable-wrapper"
  mwlResizable
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
>
  <mat-tab-group animationDuration="200ms" color="primary" selectedIndex="0"
                 [disablePagination]="true">
    <mat-tab label="Analog">
      <app-display page="gauges"></app-display>
    </mat-tab>
    <mat-tab label="Digital">
      <app-display page="numerical"></app-display>
    </mat-tab>
    <mat-tab label="Tables">
      <app-tables></app-tables>
    </mat-tab>
    <mat-tab label="Misc">
      <app-misc></app-misc>
    </mat-tab>
  </mat-tab-group>
  <div class="resize-handle" mwlResizeHandle [resizeEdges]="{right: true}"></div>
</div>
