@import 'src/variables';

:host {
  width: 100%;
  height: 100%;
  border-right: solid 1px $grey-border;
}

::ng-deep {
  mat-tab-group {
    height: 100%;
    width: 100%;
  }

  div.mat-tab-labels {
    div.mat-tab-label {
      flex-grow: 1;
      min-width: 20%;
      user-select: none;
    }
  }

  .mat-tab-label-content {
    color: map-get($primary, default);
  }

  .mat-tab-body-content {
    // Firefox scrollbar.
    scrollbar-color: $grey-border;
    scrollbar-width: thin;

    // Webkit scrollbar.
    &::-webkit-scrollbar {
      width: 8px;
      overflow-y: scroll;
      background: $background-dialog;
      border-left: solid 1px $grey-border;
    }

    &::-webkit-scrollbar-thumb {
      background: $grey-border;

      &:hover {
        background: $grey-item;
      }
    }
  }
}
