<div
  [ngStyle]="style"
  class="sidebar"
  mwlResizable
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
>
  <mat-tab-group animationDuration="200ms" selectedIndex="0"
                 [disablePagination]="true">
    <mat-tab label="Analog">
      <app-display page="gauges"></app-display>
    </mat-tab>
    <mat-tab label="Digital">
      <app-display page="numerical"></app-display>
    </mat-tab>
    <mat-tab label="Tables" disabled>
      <app-tables></app-tables>
    </mat-tab>
    <mat-tab label="Misc" disabled>
      <app-misc></app-misc>
    </mat-tab>
  </mat-tab-group>
  <div class="resize-handle" mwlResizeHandle [resizeEdges]="{right: true}"></div>
</div>
