@import 'src/variables';

.sidebar {
  background-color: $background-dialog;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
  min-width: $sidebar-desktop-min-width;
  max-width: calc(100% - 8px);
  z-index: 1;
  resize: horizontal;
  box-sizing: border-box;

  .resize-handle {
    width: 7px;
    height: 100%;
    background: transparent;
    cursor: col-resize;
    position: absolute;
    right: -8px;
    border-left: solid 1px $grey-border;

    &:hover {
      background: $grey-border;
    }
  }
}

mat-tab-group {
  width: 100%;
  min-height: 100px;
}

::ng-deep {
  div.mat-tab-labels {
    div.mat-tab-label {
      flex-grow: 1;
      min-width: 100px;
    }
  }

  .mat-tab-label-content {
    color: map-get($primary, default);
  }

  .mat-tab-body-content {
    &::-webkit-scrollbar {
      width: 8px;
      overflow-y: scroll;
      background: $background-dialog;
      border-left: solid 1px $grey-border;
    }

    &::-webkit-scrollbar-thumb {
      background: $grey-border;
      border-radius: 4px;

      &:hover {
        background: $grey-item;
      }
    }
  }
}

@media (max-width: $mobile-width-breakpoint) {
  .sidebar {
    width: 100%;
    max-width: 100%;
    min-width: 200px;

    .resize-handle {
      display: none;
    }
  }
}
