<h2 mat-dialog-title>Project images</h2>
<mat-dialog-content *ngIf="currentImages | async as images">
  <div class="column">
    <app-file-button
      *ngFor="let imageName of stateImageFields | slice: 0:5"
      [imageName]="imageName"
      [currentImageUrl]="images[imageName]?.src"
      #imageInput
    ></app-file-button>
  </div>
  <div class="column">
    <app-file-button
      *ngFor="let imageName of stateImageFields | slice: 5:11"
      [imageName]="imageName"
      [currentImageUrl]="images[imageName]?.src"
      #imageInput
    ></app-file-button>
  </div>
  <div class="column">
    <app-file-button
      *ngFor="let imageName of stateImageFields | slice: 11"
      [imageName]="imageName"
      [currentImageUrl]="images[imageName]?.src"
      #imageInput
    ></app-file-button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="image-actions">
  <input
    hidden
    (change)="onMultiImageSelected($event)"
    #multiImageInput
    type="file"
    accept="{{ MIME_TYPE }}"
    multiple="multiple"
  />
  <button
    mat-raised-button
    color="primary"
    (click)="multiImageInput.click()"
    tooltip="Upload multiple images and try to guess their intended role based on their file names."
  >
    <mat-icon>collections</mat-icon>
    Bulk upload
  </button>
  <button
    mat-raised-button
    (click)="downloadAll()"
    tooltip="Download all images used in the project."
    color="primary"
  >
    <mat-icon>download_for_offline</mat-icon>
    Download all
  </button>
  <button mat-raised-button mat-dialog-close color="primary">
    <mat-icon>close</mat-icon>
    Close
  </button>
</mat-dialog-actions>
