@import 'src/variables';

:host {
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.label {
  color: map-get($primary, default);
}

.recalculate-button {
  position:relative;
  width: 0;
  height: 0;
  left: 250px;
  top: 65px;

  button {
    position: relative;
    top: -10px;
  }
}
