<div class="recalculate-button">
  <button mat-icon-button color="primary" [disabled]="!resizeEnabled" (click)="recalculateSize()">
    <mat-icon
      [tooltip]="
        resizeEnabled
          ? 'Set needle dimensions to match the needle image.'
          : 'No needle image loaded yet.'
      "
    >
      aspect_ratio
    </mat-icon>
  </button>
</div>
<h4 class="label">{{ label }}</h4>

<ng-container *ngFor="let fieldName of NeedleConfigFields">
  <app-sliding-input
    *ngIf="NEEDLE_FIELD_METADATA[fieldName]; let metaData"
    [metaData]="metaData"
    (valueChanged)="valueChanged($event, fieldName)"
    [value]="needleConfig ? needleConfig[fieldName] : undefined"
  ></app-sliding-input>
</ng-container>
