@import 'src/variables';

:host {
  display: flex;
  align-content: center;
  margin-bottom: 4px;
}

::ng-deep {

  .mat-slide-toggle {
    color: $light-grey-item;
    height: 36px;

    &:not(.right-label) {
      .mat-slide-toggle-content {
        margin-right: 8px;
      }
    }

    &.right-label {
      .mat-slide-toggle-content {
        margin-left: 8px;
      }
    }

    &.right-label {
      margin-left: 44px;
    }
  }
}


