@use '@angular/material' as mat;

// App theme.
$primary: mat.define-palette(mat.$orange-palette, 500);
$accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$lime-palette);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

// Other colors.
$top-bar-height: 56px;
$grey-border: rgb(82, 82, 82);
$grey-item: rgb(117, 117, 117);
$light-grey-item: rgb(167, 182, 189);
$primary-text: map-get($primary, 500);

// Width.
$sidebar-desktop-min-width: 480px;
$mobile-width-breakpoint: 800px;

// Backgrounds - darkest to lightest.
$background-bar: map-get(mat.$dark-theme-background-palette, app-bar);
$background: map-get(mat.$dark-theme-background-palette, background);
$background-dialog: map-get(mat.$dark-theme-background-palette, dialog);
$background-tooltip: map-get(mat.$dark-theme-background-palette, tooltip);

// Forms.
$form-left-side-width: 120px;
$form-left-side-max-width: 200px;

