@use '@angular/material' as mat;
@import 'variables';

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($theme);
@include mat.button-theme($theme);
@include mat.toolbar-theme($theme);
@include mat.tooltip-theme($theme);
@include mat.tabs-theme($theme);
@include mat.slide-toggle-theme($theme);
@include mat.form-field-theme($theme);

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: $background;
}

a {
  all: unset;
  cursor: pointer;
}

.number-input {
  width: 32px;
  height: 32px;
  padding: 0 16px 0 8px;
  background-color: $background;
  border: solid 2px $grey-item;
  border-radius: 4px;
  color: $light-grey-item;

  &:hover,
  &:focus {
    border: solid 2px $light-grey-item;
    outline: none;
  }

  &::-webkit-inner-spin-button {
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 8px;
  }
}

.number-input .wide {
  width: 60px;
}
