<h4 class="label">{{ label }}</h4>

<app-sliding-input
  *ngIf="NUMERICAL_FIELD_METADATA['positionX']; let metaData"
  [label]="metaData.label ?? ''"
  [min]="metaData.min"
  [max]="metaData.max"
  [hint]="metaData.hint ?? ''"
  (valueChanged)="valueChanged($event, 'positionX')"
  [value]="numericalConfig ? numericalConfig['positionX'] : undefined"
></app-sliding-input>

<app-sliding-input
  *ngIf="NUMERICAL_FIELD_METADATA['positionY']; let metaData"
  [label]="metaData.label ?? ''"
  [min]="metaData.min"
  [max]="metaData.max"
  [hint]="metaData.hint ?? ''"
  (valueChanged)="valueChanged($event, 'positionY')"
  [value]="numericalConfig ? numericalConfig['positionY'] : undefined"
></app-sliding-input>

<app-toggle-input
  *ngIf="NUMERICAL_FIELD_METADATA['centered']; let metaData"
  [label]="metaData.label ?? ''"
  [hint]="metaData.hint ?? ''"
  (valueChanged)="valueChanged($event, 'centered')"
  [value]="numericalConfig ? numericalConfig['centered'] : undefined"
></app-toggle-input>
