<mat-toolbar class="toolbar">
  <button mat-stroked-button color="primary" (click)="openFileSelectorDialog()">
    <mat-icon>collections</mat-icon><span class="mobile-hide"> Image manager</span>
  </button>

  <div class="config-actions">
    <mat-form-field class="config-field" appearance="standard">
      <input type="text" matInput [matAutocomplete]="auto" placeholder="Config name" #nameInput>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option [value]="configName" *ngFor="let configName of existingConfigNames">
          {{ configName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-divider [vertical]="true"></mat-divider>

    <button mat-icon-button (click)="saveConfigLocal(nameInput.value)" [disabled]="disableSaveLoad"
            tooltip="Save workspace to your browser's local storage.">
      <mat-icon>save_alt</mat-icon>
    </button>
    <button mat-icon-button (click)="loadConfigLocal(nameInput.value)" [disabled]="disableSaveLoad"
            tooltip="Load workspace from your browser's local storage.<br><br>This will overwrite your current work!">
      <mat-icon>upload_file</mat-icon>
    </button>

    <mat-divider [vertical]="true"></mat-divider>

    <button mat-icon-button (click)="saveConfigToJSON(nameInput.value)" [disabled]="disableSaveLoad"
            tooltip="Save complete workspace as a JSON file.<br><br><b>Do not load this file into FIS-Control!</b>">
      <mat-icon>save</mat-icon>
    </button>
    <input hidden (change)="onConfigSelected($event)" #configInput type="file" accept="application/json" />
    <button mat-icon-button [disabled]="disableSaveLoad" (click)="configInput.click()"
            tooltip="Load workspace from a JSON file.<br><br>This will overwrite your current work!">
      <mat-icon>file_upload</mat-icon>
    </button>

    <mat-divider [vertical]="true"></mat-divider>

    <button mat-icon-button (click)="saveConfigAsBinary(nameInput.value)" [disabled]="disableSaveLoad"
            tooltip="Save FIS-Control binary config." color="primary">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="saveBackgroundAsBinary(nameInput.value)" [disabled]="disableSaveLoad"
            tooltip="Save FIS-Control background file." color="primary">
      <mat-icon>wallpaper</mat-icon>
    </button>
    <button mat-icon-button (click)="saveNeedlesAsBinary(nameInput.value)" [disabled]="disableSaveLoad"
            tooltip="Save FIS-Control needles file." color="primary">
      <mat-icon>speed</mat-icon>
    </button>
  </div>
</mat-toolbar>
