@import 'src/variables';

.toolbar {
  font-size: 14px;
  display: flex;
  justify-content: space-between;

  .config-name {
    position: relative;
    top:-2px;
    text-align: center;
  }
}

@media (max-width: $mobile-width-breakpoint) {
  .toolbar {
    height: 44px;
  }
}
