.toolbar {
  font-size: 14px;
  display: flex;
  justify-content: space-between;

  .config-actions {
    display: flex;
    align-items: center;

    mat-form-field {
      width: 140px;
    }

    mat-divider {
      height: 32px;
      margin: 0 8px;
    }
  }
}
